<body class="main">
  <div class="container">
    <div class="signin-up">
      <img src="/images/lock.svg" alt="image" class="logo" />
      <h2>Forgot Password</h2>
      <form action="/users/forgot-password" method="post" class="form">
        <div class="field">
          <input type="email" name="email" placeholder="Your Email" required />
        </div>

        <div class="field">
          <input type="submit" value="Send" />
        </div>
      </form>

      <p>Back to <a href="/users/sign-in">Log in</a></p>
    </div>
  </div>
</body>
