<body class="main">
  <div class="container">
    <div class="signin-up">
        <img src="/images/coffee.svg" alt="image" class="logo">
        <br>
        <!-- Content to be displayed After user logged In -->
      <h1>Welcome, <%= name %> </h1>
      <h1>Enjoy your Coffee!!</h1>
      <%= email %> 
        <p> <a href="/users/sign-out">Sign Out</a> </p>
      
        <p> <a href="/users/reset-pass">Reset Password</a> </p>
      
    </div>
  </div>
</body>
