<body class="main">
  <div class="container">
    <div class="signin-up">
      <img src="/images/lock.svg" alt="image" class="logo" />
      <h2>Reset Password</h2>
      <!-- Reset Form -->
      <form action="/users/reset-pass" method="post" class="form">
        <div class="field">
          <input
            type="password"
            name="currpass"
            placeholder="Current Password"
            required
          />
        </div>
        <div class="field">
          <input
            type="password"
            name="newpass"
            placeholder="New Password"
            required
          />
        </div>

        <div class="field">
          <input type="submit" value="Reset" />
        </div>
      </form>
    </div>
  </div>
</body>
